figure {
  width: 100%;
  /*height: 130px;*/
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.imghover figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
   width: 100%;
  /* height: 130px; */
}
.imghover figure:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*.row h4 {*/
/*  margin: 0.5em 0em;*/
/*  font-style: normal;*/
/*  color: black;*/
/*}*/

.content {
  padding: 0 0;
}

.abcdef {
  padding: 4px 4px;
}

